@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: linear-gradient(80deg, rgb(40,15,45), rgb(67,30, 71));
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    position: relative;
}
